head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{page}
  link(rel='icon' href='ylogo.png')
  link(rel='stylesheet' href='style.css')
nav.flex-div
  .nav-left.flex-div
    .toggle-btn
      span
      span
      span
    img.logo(src='youtube.png' alt='')
  .nav-middle.flex-div
    .search_box.flex-div
      input#search_input(type='text' placeholder='Search')
      img(src='search.png' alt='')
    img.mic_icon(src='voice-search.png' alt='')
  .nav-right.flex-div
    img(src='notification.png' alt='')
    img.user-icon(src='user.png' alt='')

block sidebar

