extends sidebar.pug 
block main 
  .content
   .banner
    img(src='banner.png' alt='')
   #result
   .list_content
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail1.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p first
          p 15k Views &bull; 2 days
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail2.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Second
          p 15k Views &bull; 4 days
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail3.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Third
          p 15k Views &bull; 6 days
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail4.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Four
          p 15k Views &bull; 8 days
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail5.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Five
          p 15k Views &bull; 10 days  
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail6.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p six
          p 15k Views &bull; 12 days 
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail7.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p seven
          p 15k Views &bull; 2 days 
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail8.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Eight
          p 15k Views &bull; 2 days
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail1.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Nine
          p 15k Views &bull; 2 days 
    .vid_list
      a(href='')
        img.thumbnail(src='thumbnail2.png' alt='')
      .flex-div
        img(src='user.png' alt='')
        .vid-info
          a(href='') working .
          p Ten
          p 15k Views &bull; 2 days            




              
          
    

