extends  include/nav.pug
block sidebar 
 .sidebar
  .shortcut-links
    a(href='#')
      img(src='home.png' alt='')
      p Home
    a(href='#')
      img(src='explore.png' alt='')
      p Explore
    a(href='#')
      img(src='subscriprion.png' alt='')
      p Subcriptions
    a(href='#')
      img(src='library.png' alt='')
      p Library
    a(href='#')
      img(src='history.png' alt='')
      p History
    hr
    a(href='#')
      img(src='more.png' alt='')
      p Upload
    a(href='#')
      img(src='notification.png' alt='')
      p Notification
    a(href='#')
      img(src='more.png' alt='')
      p More
    hr
    p.cmnt
     | Sign in to like videos,
     | comment and subscribe.
    br
    button.sbtn Sign In
 
 block main      